@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'FoodPacker'; 
  src: url('./src/FoodPacker.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal;
}


body {
  font-size: 12px;
  text-align: center;
  width: 1000px;
  height: 1500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #faf9f6;
  padding-left: 14vw;
  padding-top: 12vw;
}

.container {
  width: 100%;
  height: 100%;
}

.title-container {
  flex: 1;            
  text-align: center;          
}


h1 {
  font-size: 46px;
  font-weight: bold;
  font-family: 'FoodPacker';
}

p {
  font-size: 12px;
  color: black;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #FAD7D8;
  width: 100vw; 
  height: 8vw;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 2;
}

.logo {
  width: 15vh;
  height: auto;
  margin-left: 3vw;
}

.logo-container {
  flex: 0 0 auto;   
}

.footer {
  background-color: #FAD7D8;
  width: 100vw; 
  height: 2vw;
bottom: 0;  left: 0; 
}

.sidebar {
  position: fixed;
  left: 3vw;
  top: 10vw;
  width: 20vw;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar button {
align-items: center;
}

img {
  width: 20vw;
  height: auto;
}

.recipes {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.recipes-list {
  list-style-type: none;
  padding: 0;
}

.recipe-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: calc(100% - 20vw); 
}

.recipe-text {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.recipe-img {
  width: 150px; 
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

button {
  width: 8vw;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #FAD7D8;
  border-radius: 8px;
  cursor: pointer;
}

.create-recipe {
  align-items: center; 
  border: 2px solid #ccc;
  border-radius: 8px;
  width: calc(100% - 20vw); 
  box-sizing: border-box; 
  margin-left: 11vw;
  padding: 20px; 
}

.create-recipe label {
  display: block; 
  text-align: left;
  margin: 20px;
}

.create-recipe input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}